* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/*center content might have to change to add header and figure out end high score page*/
body{
    width: 100vw;
    height: 100vh;
}

header{
    padding: 60px;
    text-align: center;
    background: blueviolet;
    color: white;
    font-size: 30px;
}

.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choices{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin: 20px 0;
}

.btn{
    background-color: blueviolet;
    border: 1px solid black;
    border-radius: 5px;
    color:white;
    outline: none;
    padding: 10px 15px;
}

button:hover{
    background-color: white;
    color: blueviolet;
    font-weight: bold;
}

.next-btn, .start-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px 15px;
}

.highScoreContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 15px;
}

h4{
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* to start with start button*/
.hide{
    display: none;
}